.mediaViewInfo {
	--web-view-name: TaS;
	--web-view-id: TaS;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: TaS;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#TaS {
	position: absolute;
	width: 1366px;
	height: 1634px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: TaS;
	--web-view-id: TaS;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes  {


}
#bg_hb {
	position: absolute;
	width: 1366px;
	height: 1430px;
	left: 0px;
	top: 93px;
	overflow: visible;
}
#ppek_hc {
	position: absolute;
	width: 1366px;
	height: 768px;
	left: 0px;
	top: 662px;
	overflow: visible;
}
#mmek_hd {
	position: absolute;
	width: 1361px;
	height: 681px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7_he {
	opacity: 0.38;
	fill: rgba(39,47,79,1);
}
.Rectangle_7_he {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 678px;
	left: 0px;
	top: 7px;
}
#Rectangle_8_hf {
	opacity: 0.72;
	fill: rgba(39,47,79,1);
}
.Rectangle_8_hf {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 659px;
	left: 0px;
	top: 685px;
}
#Footer_hg {
	fill: rgba(39,47,79,0.42);
}
.Footer_hg {
	overflow: visible;
	position: absolute;
	width: 1366px;
	height: 1337px;
	left: 0px;
	top: 7px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_11_hh {
	opacity: 0.45;
	fill: rgba(39,47,79,1);
}
.Rectangle_11_hh {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 23px;
	left: 0px;
	top: 662px;
}
#Rectangle_12_hi {
	opacity: 0.5;
	fill: rgba(39,47,79,1);
}
.Rectangle_12_hi {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 23px;
	left: 0px;
	top: 676px;
}
#Rectangle_13_hj {
	opacity: 0.5;
	fill: rgba(39,47,79,1);
}
.Rectangle_13_hj {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 23px;
	left: 0px;
	top: 676px;
}
#Rectangle_14_hk {
	opacity: 0.5;
	fill: rgba(39,47,79,1);
}
.Rectangle_14_hk {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 23px;
	left: 0px;
	top: 676px;
}
#Rectangle_15_hl {
	opacity: 0.45;
	fill: rgba(39,47,79,1);
}
.Rectangle_15_hl {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 23px;
	left: 0px;
	top: 693px;
}
#Header_hm {
	position: absolute;
	width: 1366px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1_hn {
	fill: rgba(39,47,79,1);
}
.Rectangle_1_hn {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#meow_boost_text-1_ho {
	position: absolute;
	width: 137.695px;
	height: 60px;
	left: 139px;
	top: 20px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Footer_hp {
	position: absolute;
	width: 1366px;
	height: 201px;
	left: 0px;
	top: 1434px;
	overflow: visible;
}
#Footer_hq {
	fill: rgba(39,47,79,1);
}
.Footer_hq {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 201px;
	left: 0px;
	top: 0px;
}
#meow_boost_text-1_hr {
	position: absolute;
	width: 67px;
	height: 29px;
	left: 139px;
	top: 29px;
	overflow: visible;
}
#ID2020-2021_-_MeowBoostgg_All__hs {
	left: 139px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 268px;
	height: 105px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(249,192,96,1);
}
#LINE__ht {
	position: absolute;
	width: 476.5px;
	height: 173px;
	left: 403px;
	top: 1446px;
	overflow: visible;
}
#Line_1_hu {
	fill: transparent;
	stroke: rgba(156,173,241,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_hu {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 171px;
	left: 0px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2_hv {
	fill: transparent;
	stroke: rgba(156,173,241,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2_hv {
	overflow: visible;
	position: absolute;
	width: 1.5px;
	height: 169.003px;
	left: 476px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Footer_text_hw {
	position: absolute;
	width: 279px;
	height: 16px;
	left: 420px;
	top: 1473px;
	overflow: visible;
}
#INFORMATION_hx {
	left: 181px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(114,137,218,1);
}
#MENU_hy {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(114,137,218,1);
}
#Contacts_hz {
	position: absolute;
	width: 52px;
	height: 15px;
	left: 420px;
	top: 1508px;
	overflow: visible;
}
#Rectangle_18_h {
	fill: transparent;
}
.Rectangle_18_h {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 15px;
	left: 0px;
	top: 0px;
}
#Contacts_h {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(70,82,125,1);
}
#PP_h {
	position: absolute;
	width: 81px;
	height: 14px;
	left: 601px;
	top: 1509px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: PP.html;
	cursor: pointer;
}
#Rectangle_19_h {
	fill: transparent;
}
.Rectangle_19_h {
	position: absolute;
	overflow: visible;
	width: 81px;
	height: 14px;
	left: 0px;
	top: 0px;
}
#Privacy_Policy_h {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(70,82,125,1);
}
#ToS_h {
	position: absolute;
	width: 106px;
	height: 14px;
	left: 601px;
	top: 1528px;
	overflow: visible;
}
#Terms_and_Service_h {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(70,82,125,1);
}
#Rectangle_20_h {
	fill: transparent;
}
.Rectangle_20_h {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 14px;
	left: 0px;
	top: 0px;
}
#Rectangle_21_h {
	fill: rgba(39,47,79,1);
}
.Rectangle_21_h {
	position: absolute;
	overflow: visible;
	width: 1374px;
	height: 876px;
	left: -4px;
	top: 558px;
}
#Rectangle_22_h {
	fill: rgba(39,47,79,0.561);
}
.Rectangle_22_h {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 476px;
	left: 0px;
	top: 100px;
}
#Group_3_ia {
	position: absolute;
	width: 1085px;
	height: 694px;
	left: 139px;
	top: 184px;
	overflow: visible;
}
#TERMS_AND_SERVICES {
	left: 291px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 507px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(255,255,255,1);
}
#In_accordance_with_this_User_A {
	left: 0px;
	top: 135px;
	position: absolute;
	overflow: visible;
	width: 1086px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#ID1_AGREEMENT_ACCEPTANCE {
	left: 0px;
	top: 398px;
	position: absolute;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#ID11_Any_farmsgrindsboosts_her {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 1023px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#__Publication_date_5032021__ {
	left: 0px;
	top: 605px;
	position: absolute;
	overflow: visible;
	width: 195px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#png-transparent-computer-icons_ig {
	opacity: 0.85;
	position: absolute;
	width: 176px;
	height: 98px;
	left: 1051px;
	top: 996px;
	overflow: visible;
	--web-animation: fadein 0.6s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Discord_Server_ih {
	position: absolute;
	width: 276px;
	height: 99px;
	left: 951px;
	top: 1479px;
	overflow: visible;
}
#Rectangle_27_ii {
	fill: rgba(156,173,241,1);
}
.Rectangle_27_ii {
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 99px;
	left: 0px;
	top: 0px;
}
#Contact_Us_ij {
	left: 32px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 213px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}